@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --buttons-border-width: 1px;
    }
}
@layer components {
    .scroll-hidden {
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE y Edge */
        &::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Edge (basado en Chromium) */
        }
    }
    .input-field{
        @apply border outline-none     text-sm  rounded-md   block w-full p-2.5 bg-neutral-800 border-neutral-600 text-neutral-200 placeholder-neutral-400  focus:ring-neutral-500 focus:border-neutral-500
    }
    .input-checkbox{
        @apply w-4 h-4 border  rounded  bg-neutral-700 border-neutral-500 checked:bg-neutral-600 checked:border-neutral-600 appearance-none
    }
    .button-primary{
        @apply text-white font-medium text-sm   py-2 px-4 text-center bg-black border-[0.5px] border-neutral-600 hover:border-neutral-400
    }
    .button-secondary{
        @apply  hover:bg-white/90 transition-all duration-200   bg-white text-black font-medium text-sm py-2 px-4 text-center
    }
    .toast-notification-error {
        @apply w-fit fixed    right-10   top-[150px] px-2 py-3 z-[50] bg-gradient-to-r from-red-600/20  via-neutral-800 to-neutral-900 backdrop-brightness-[.2] backdrop-blur-sm text-white rounded-lg  ;
    }
      .toast-notification-success {
        @apply w-fit fixed    right-10   top-[150px] px-2 py-3 z-[50]  bg-gradient-to-r from-green-600/20  via-neutral-800 to-neutral-900  backdrop-brightness-[.2] backdrop-blur-sm text-white rounded-lg  ;
    }
}

.toast-notification-error,
.toast-notification-success {
    animation: slideDownFadeIn 0.4s ease-out forwards;
}

@keyframes slideDownFadeIn {
    0% {
        transform: translateY(-100%);
        opacity: 0.5;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.toast-hide {
    animation: slideUpFadeOut 0.4s ease-in forwards;
}

@keyframes slideUpFadeOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

  body {
            font-family: "Poppins", sans-serif;
        }





        body::-webkit-scrollbar {
            width: 5px;
            /* horizontal */
            height: 5px;

        }

        /* Estilo del "track" (fondo) de la barra de desplazamiento */
        body::-webkit-scrollbar-track {
            background: #fffefe00;

        }

        body::-webkit-scrollbar-thumb {

            background: #888;
            /* Color del thumb */
            border-radius: 5px;
            /* Radio de esquina del thumb */
        }

        input[type="number"] {
            -webkit-appearance: textfield;
               -moz-appearance: textfield;
                    appearance: textfield;
          }
          input[type=number]::-webkit-inner-spin-button,
          input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
          }
